/* Fundo padrão do site */
body {
    font-family: 'Quicksand', sans-serif;
    background: #c4f82a; /* verde-limão */
    color: #000;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding-top: 30px;
  }
  

  
